* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #23271e, #1a1d17);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* outside box */
.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* top TEXT*/
#title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
/* BUTTON */
.back-btn {
      padding: 14px 28px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-radius: 12px;
      background: #2563eb;
      color: white;
      cursor: pointer;
      transition: 0.3s ease;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      margin-top: 10px;
    }

    .back-btn:hover {
      background: #1d4ed8;
      transform: translateY(-2px);
    }

    .back-btn:active {
      transform: scale(0.96);
    }
